LOCALSTACK_AUTH_TOKEN=example

# LocalStack Configuration Example
SERVICES=dynamodb
AWS_DEFAULT_REGION=
DDB_TABLE_NAME=
DDB_SEED_EXAMPLES=
DEBUG=

# Quarkus/Backend Configuration
QUARKUS_DYNAMODB_ENDPOINT_OVERRIDE=http://localstack:4566
QUARKUS_DYNAMODB_AWS_REGION=us-east-1
QUARKUS_DYNAMODB_AWS_CREDENTIALS_TYPE=static
QUARKUS_DYNAMODB_AWS_CREDENTIALS_STATIC_PROVIDER_ACCESS_KEY_ID=test
QUARKUS_DYNAMODB_AWS_CREDENTIALS_STATIC_PROVIDER_SECRET_ACCESS_KEY=test
QUARKUS_DEVSERVICES_ENABLED=false