.adm-btn {
  padding:  1.2rem .5rem;
  background-color: var(--color-primary);
  color: var(--color-primary-light);
  border: none;
  border-radius: var(--radius-md);
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  align-self: center;
  margin-top: -2rem;
  text-decoration: none;
  text-align: center;
  box-shadow: var(--shadow-lg);
  transition: var(--transition-normal);
  margin-bottom: 10%;
  width: 30%;
}

.app-form{
  gap: var(--spacing-xs);
  display: flex;
}

.adm-btn p{
  margin-top: 1rem;
}

.adm-content{
  margin: auto;
  filter: brightness(100);
}

.adm {
  margin-bottom: 2%;
}

.adm-btn:hover {
  background-color: var(--color-primary-dark);
  box-shadow: var(--shadow-md);
  transform: translateY(-2px);
}


.icon-cog{
  margin: auto;
  height: 5rem;
}

